<section class="contacts container">
  <ul class="contacts__list list">
    <li class="contacts__item">
      <p class="contacts__title">CAFE</p>
      <h4>Chicago</h4>
      <p class="contacts__text">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </p>
      <h4>Monday - Friday</h4>
      <p class="contacts__time">06:00 AM - 10:00 PM</p>
      <h4>Saturday - Sunday</h4>
      <p class="contacts__time">08:00 AM - 16:00 PM</p>
      <a href="tel:+61(0) 383 766 284" class="contacts__link link"
        >+61(0) 383 766 284</a
      >
      <a href="mailto:noreply@envato.com" class="contacts__link link"
        >noreply@envato.com</a
      >
    </li>
    <li class="contacts__item">
      <p class="contacts__desc">FOOD TRUCK</p>
      <h4>Los Angeles</h4>
      <p class="contacts__text">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </p>
      <h4>Monday - Friday</h4>
      <p class="contacts__time">06:00 AM - 10:00 PM</p>
      <h4>Saturday - Sunday</h4>
      <p class="contacts__time">08:00 AM - 16:00 PM</p>
      <a href="tel:+61(0) 383 766 284" class="contacts__link link"
        >+61(0) 383 766 284</a
      >
      <a href="mailto:noreply@envato.com" class="contacts__link link"
        >noreply@envato.com</a
      >
    </li>
    <li class="contacts__item">
      <p class="contacts__title">CAFE</p>
      <h4>New York</h4>
      <p class="contacts__text">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </p>
      <h4>Monday - Friday</h4>
      <p class="contacts__time">06:00 AM - 10:00 PM</p>
      <h4>Saturday - Sunday</h4>
      <p class="contacts__time">08:00 AM - 16:00 PM</p>
      <a href="tel:+61(0) 383 766 284" class="contacts__link link"
        >+61(0) 383 766 284</a
      >
      <a href="mailto:noreply@envato.com" class="contacts__link link"
        >noreply@envato.com</a
      >
    </li>
  </ul>
  <button type="button">Our Locations</button>
  <button type="button">Franchise</button>
</section>
