<section class="contacts container" id="Contact">
  <ul class="contacts__list list">
    <li class="contacts__item">
      <div class="contacts__box">
        <p class="contacts__title">CAFE</p>
        <h4 class="contacts__subtitle caption">Chicago</h4>
        <p class="contacts__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
      </div>
      <div class="contacts__box">
        <h4 class="contacts__subtitle">Monday - Friday</h4>
        <p class="contacts__time">06:00 AM - 10:00 PM</p>
        <h4 class="contacts__subtitle">Saturday - Sunday</h4>
        <p class="contacts__time">08:00 AM - 16:00 PM</p>
      </div>
      <div class="contacts__box">
        <a href="tel:+61(0)383766284" class="contacts__link link"
          >+61(0) 383 766 284</a
        >
        <a href="mailto:noreply@envato.com" class="contacts__link link"
          >noreply@envato.com</a
        >
      </div>
    </li>

    <li class="contacts__item">
      <div class="contacts__box">
        <p class="contacts__desc">FOOD TRUCK</p>
        <h4 class="contacts__subtitle caption">Los Angeles</h4>
        <p class="contacts__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
      </div>
      <div class="contacts__box">
        <h4 class="contacts__subtitle">Monday - Friday</h4>
        <p class="contacts__time">06:00 AM - 10:00 PM</p>
        <h4 class="contacts__subtitle">Saturday - Sunday</h4>
        <p class="contacts__time">08:00 AM - 16:00 PM</p>
      </div>
      <div class="contacts__box">
        <a href="tel:+61(0)383766284" class="contacts__link link"
          >+61(0) 383 766 284</a
        >
        <a href="mailto:noreply@envato.com" class="contacts__link link"
          >noreply@envato.com</a
        >
      </div>
    </li>

    <li class="contacts__item">
      <div class="contacts__box">
        <p class="contacts__title">CAFE</p>
        <h4 class="contacts__subtitle caption">New York</h4>
        <p class="contacts__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
      </div>
      <div class="contacts__box">
        <h4 class="contacts__subtitle">Monday - Friday</h4>
        <p class="contacts__time">06:00 AM - 10:00 PM</p>
        <h4 class="contacts__subtitle">Saturday - Sunday</h4>
        <p class="contacts__time">08:00 AM - 16:00 PM</p>
      </div>
      <div class="contacts__box">
        <a href="tel:+61(0)383766284" class="contacts__link link"
          >+61(0) 383 766 284</a
        >
        <a href="mailto:noreply@envato.com" class="contacts__link link"
          >noreply@envato.com</a
        >
      </div>
    </li>
  </ul>
  <button type="button">Our Locations</button>
  <button type="button">Franchise</button>
</section>
