<!-- footer section -->
<footer class="footer">
  <div class="container">
    <div class="footer-title-box">
      <p class="footer-title-1">homemade ice cream made</p>
      <p class="footer-title-2">with passion</p>
    </div>
    <!-- footer social links -->
    <div class="footer-social-links">
      <ul class="footer-social-network list">
        <li class="footer-social-network__icons">
          <a
            href="https://github.com/"
            target="_blank"
            rel="nofollow noopener noreferrer"
            class="footer-social-network__elipse"
          >
            <svg class="" width="19" height="19">
              <use href="./images/sprite/icons.svg#icon-github"></use></svg
          ></a>
        </li>

        <li class="footer-social-network__icons">
          <a
            href="https://telegram.org/"
            target="_blank"
            rel="nofollow noopener noreferrer"
            class="footer-social-network__elipse"
          >
            <svg class="" width="19" height="19">
              <use href="./images/sprite/icons.svg#icon-telegram"></use></svg
          ></a>
        </li>

        <li class="footer-social-network__icons">
          <a
            href="https://uk-ua.facebook.com/"
            target="_blank"
            rel="nofollow noopener noreferrer"
            class="footer-social-network__elipse"
          >
            <svg class="" width="19" height="19">
              <use href="./images/sprite/icons.svg#icon-facebook"></use></svg
          ></a>
        </li>
      </ul>
    </div>
    <address>
      <p class="footer-contact">
        Feel free to contact
        <a href="tel:+610383766284" class="footer-tel link"
          >+61 (0) 383 766 284</a
        >
      </p>
    </address>
    <div class="footer-copyright-box">
      <p class="footer-copyrights">© 2022 - IceCream.</p>
      <p class="footer-copyrights">All Rights Reserved.</p>
    </div>
  </div>
</footer>
