<!--Section Gallery -->
<section class="gallery container section">
  <div class="gallery__container">
    <h2 class="visually-hidden">Gallery Ice Crem</h2>
    <ul class="gallery__list list">
      <li class="gallery__item gallery__item-1">
        <div class="gallery__img">
          <img srcset="
              ./images/gallery/w/ice-1_44.png   44w,
              ./images/gallery/w/ice-1_88.png   88w,
              ./images/gallery/w/ice-1_105.png 105w,
              ./images/gallery/w/ice-1_138.png 138w,
              ./images/gallery/w/ice-1_210.png 210w,
              ./images/gallery/w/ice-1_276.png 276w
            " sizes="(min-width: 1200px) 138px, (min-width: 768px) 105px, (max-width: 767px) 44px, 100vw"
            src="./images/gallery/png/ice-1_sm.png" alt="" />
        </div>
      </li>
      <li class="gallery__item gallery__item-2">
        <div class="gallery__img">
          <img srcset="
              ./images/gallery/w/ice-2_44.png   44w,
              ./images/gallery/w/ice-2_88.png   88w,
              ./images/gallery/w/ice-2_106.png 106w,
              ./images/gallery/w/ice-2_138.png 138w,
              ./images/gallery/w/ice-2_210.png 210w,
              ./images/gallery/w/ice-2_276.png 276w
            " sizes="(min-width: 1200px) 138px, (min-width: 768px) 105px, (max-width: 767px) 44px, 100vw"
            src="./images/gallery/png/ice-2_sm.png" alt="Ice-Crem" />
        </div>
        <div class="gallery__img gallery__img-top">
          <img srcset="
              ./images/gallery/w/ice-3_44.png   44w,
              ./images/gallery/w/ice-3_88.png   88w,
              ./images/gallery/w/ice-3_106.png 106w,
              ./images/gallery/w/ice-3_138.png 138w,
              ./images/gallery/w/ice-3_210.png 210w,
              ./images/gallery/w/ice-3_276.png 276w
            " sizes="(min-width: 1200px) 138px, (min-width: 768px) 105px, (max-width: 767px) 44px, 100vw"
            src="./images/gallery/png/ice-3_sm.png" alt="Ice-Crem" />
        </div>
      </li>
      <li class="gallery__item gallery__item-3">
        <div class="gallery__img">
          <img srcset="
              ./images/gallery/w/ice-4_90.png   90w,
              ./images/gallery/w/ice-4_180.png 180w,
              ./images/gallery/w/ice-4_215.png 215w,
              ./images/gallery/w/ice-4_283.png 283w,
              ./images/gallery/w/ice-4_430.png 430w,
              ./images/gallery/w/ice-4_566.png 566w
            " sizes="(min-width: 1200px) 283px, (min-width: 768px) 215px, (max-width: 767px) 90px, 100vw"
            src="./images/gallery/png/ice-4_sm.png" alt="Ice-Crem" />
        </div>
        <div class="gallery__img gallery__img-top">
          <img srcset="

              ./images/gallery/w/ice-5_44.png   44w,
              ./images/gallery/w/ice-5_88.png   88w,
              ./images/gallery/w/ice-5_106.png 106w,
              ./images/gallery/w/ice-5_138.png 138w,
              ./images/gallery/w/ice-5_211.png 211w,
              ./images/gallery/w/ice-5_276.png 276w
            " sizes="(min-width: 1200px) 138px, (min-width: 768px) 105px, (max-width: 767px) 44px, 100vw"
            src="./images/gallery/png/ice-5_sm.png" alt="Ice-Crem" />
        </div>
      </li>
      <li class="gallery__item gallery__item-4">
        <div class="gallery__img">
          <img srcset="
              ./images/gallery/w/ice-6_44.png   44w,
              ./images/gallery/w/ice-6_88.png   88w,
              ./images/gallery/w/ice-6_106.png 106w,
              ./images/gallery/w/ice-6_138.png 138w,
              ./images/gallery/w/ice-6_211.png 211w,
              ./images/gallery/w/ice-6_276.png 276w
            " sizes="(min-width: 1200px) 138px, (min-width: 768px) 105px, (max-width: 767px) 44px, 100vw"
            src="./images/gallery/png/ice-6_sm.png" alt="Ice-Crem" />
        </div>
        <div class="gallery__img gallery__img-top">
          <img srcset="
              ./images/gallery/w/ice-7_45.png   45w,
              ./images/gallery/w/ice-7_88.png   88w,
              ./images/gallery/w/ice-7_105.png 105w,
              ./images/gallery/w/ice-7_138.png 138w,
              ./images/gallery/w/ice-7_210.png 210w,
              ./images/gallery/w/ice-7_276.png 276w
            " sizes="(min-width: 1200px) 138px, (min-width: 768px) 105px, (max-width: 767px) 44px, 100vw"
            src="./images/gallery/png/ice-7_sm.png" alt="Ice-Crem" />
        </div>
      </li>
      <li class="gallery__item gallery__item-5">
        <div class="gallery__img">
          <img srcset="
              ./images/gallery/w/ice-8_44.png   44w,
              ./images/gallery/w/ice-8_88.png   88w,
              ./images/gallery/w/ice-8_105.png 105w,
              ./images/gallery/w/ice-8_138.png 138w,
              ./images/gallery/w/ice-8_210.png 210w,
              ./images/gallery/w/ice-8_276.png 276w
            " sizes="(min-width: 1200px) 138px, (min-width: 768px) 105px, (max-width: 767px) 44px, 100vw"
            src="./images/gallery/png/ice-8_sm.png" alt="Ice-Crem" />
        </div>
        <div class="gallery__img gallery__img-top">
          <img srcset="
              ./images/gallery/w/ice-9_44.png   44w,
              ./images/gallery/w/ice-9_88.png   88w,
              ./images/gallery/w/ice-9_105.png 105w,
              ./images/gallery/w/ice-9_138.png 138w,
              ./images/gallery/w/ice-9_210.png 210w,
              ./images/gallery/w/ice-9_276.png 276w
            " sizes="(min-width: 1200px) 138px, (min-width: 768px) 105px, (max-width: 767px) 44px, 100vw"
            src="./images/gallery/png/ice-9_sm.png" alt="Ice-Crem" />
        </div>
      </li>
      <li class="gallery__item gallery__item-6">
        <div class="gallery__img">
          <img srcset="
              ./images/gallery/w/ice-10_44.png   44w,
              ./images/gallery/w/ice-10_88.png   88w,
              ./images/gallery/w/ice-10_105.png 105w,
              ./images/gallery/w/ice-10_138.png 138w,
              ./images/gallery/w/ice-10_210.png 210w,
              ./images/gallery/w/ice-10_276.png 276w
            " sizes="(min-width: 1200px) 138px, (min-width: 768px) 105px, (max-width: 767px) 44px, 100vw"
            src="./images/gallery/png/ice-10_sm.png" alt="Ice-Crem" />
        </div>
      </li>
    </ul>
  </div>
</section>