<header class="header container">
    <a href="#" class="header__logo">
        <svg class="logo__img" width="199" height="50">
            <use href="./images/sprite/icons.svg#icon-logo-icecream"></use>
        </svg></a>

    <nav class="header__nav">
        <ul class="header__list list">
            <li class="header__item">
                <a class="header__link link" href="">Home</a>
            </li>
            <li class="header__item">
                <a class="header__link link" href="">About us</a>
            </li>
            <li class="header__item">
                <a class="header__link link" href="">How it’s made?</a>
            </li>
            <li class="header__item">
                <a class="header__link link" href="">Our products</a>
            </li>
            <li class="header__item">
                <a class="header__link link" href="">Contact</a>
            </li>
        </ul>
    </nav>

    <button class="mobile-menu-btn" data-menu-button>
        <svg class="mobile-menu-icon" width="20" height="12">
            <use class="mobile-menu-burger" href="./images/sprite/icons.svg#icon-burger-menu"></use>
            <!-- <use class="mobile-menu-close" href="./images/sprite/icons.svg"></use> -->
        </svg>
    </button>

    <button class="header__button" type="button">
        Buy now
        <svg class="button__img" width="4" height="8">
            <use href="#"></use>
        </svg>
    </button>
</header>