<header class="header">
  <div class="header-thumb container">
    <a href="#" class="header__logo">
      <svg class="logo__img" width="199" height="50">
        <use href="./images/sprite/icons.svg#icon-logo-icecream"></use>
      </svg></a>

    <nav class="header__nav">
      <ul class="header__list list">
        <li class="header__item">
          <a class="header__link link" href="">Home</a>
        </li>
        <li class="header__item">
          <a class="header__link link" href="">About us</a>
        </li>
        <li class="header__item">
          <a class="header__link link" href="">How it’s made?</a>
        </li>
        <li class="header__item">
          <a class="header__link link" href="">Our products</a>
        </li>
        <li class="header__item">
          <a class="header__link link" href="">Contact</a>
        </li>
      </ul>
    </nav>

    <button class="mobile-menu-btn js-open-menu" type="button" aria-expanded="false" aria-controls="mobile-menu">
      <svg class="mobile-menu-icon" width="20" height="12">
        <use class="mobile-menu-burger" href="./images/sprite/icons.svg#icon-burger-menu"></use>
      </svg>
    </button>

    <button class="header__button" type="button">
      Buy now
      <svg class="button__img" width="6" height="9">
        <use href="./images/sprite/icons.svg#icon-btn-arrow"></use>
      </svg>
    </button>
  </div>

  <!-- Mob menu -->
  <div class="mobile-menu js-menu-container" id="mobile-menu">
    <button class="mobile-menu-btn-close js-close-menu" type="button">
      <svg class="mobile-menu-icon" width="14" height="14">
        <use class="mobile-menu-close" href="./images/sprite/icons.svg#icon-close"></use>
      </svg>

      <button class="header__button header__button--show" type="button">
        Buy now
        <svg class="button__img" width="6" height="9">
          <use href="#"></use>
        </svg>
      </button>
      <ul class="mobile-menu-nav list">
        <li class="mobile-menu-item"><a class="mobile-menu-link link" href="#">Home</a>
        </li>
        <li class="mobile-menu-item"><a class="mobile-menu-link link" href="#">About us</a>
        </li>
        <li class="mobile-menu-item"><a class="mobile-menu-link link" href="#">How it’s made?</a></li>
        <li class="mobile-menu-item"><a class="mobile-menu-link link" href="#">Our products</a></li>
        <li class="mobile-menu-item"><a class="mobile-menu-link link" href="#">Contact</a></li>
      </ul>

</header>