<header class="header">
  <div class="header-thumb container">
    <a href="#" class="header__logo">
      <svg class="logo__img" width="199" height="50">
        <use href="./images/sprite/icons.svg#icon-logo-icecream"></use>
      </svg></a>

    <nav class="header__nav">
      <ul class="header__list list">
        <li class="header__item">
          <a class="header__link link" href="#">Home</a>
        </li>
        <li class="header__item">
          <a class="header__link link" data-goto=".advant" href="#">About us</a>
        </li>
        <li class="header__item">
          <a class="header__link link" data-goto=".about" href="#">How it’s made?</a>
        </li>
        <li class="header__item">
          <a class="header__link link" data-goto=".products" href="#">Our products</a>
        </li>
        <li class="header__item">
          <a class="header__link link" data-goto=".contacts" href="#">Contact</a>
        </li>
      </ul>
    </nav>

    <button class="mobile-menu-btn js-open-menu" type="button" aria-expanded="false" aria-controls="mobile-menu">
      <svg class="mobile-menu-icon" width="20" height="12">
        <use class="mobile-menu-burger" href="./images/sprite/icons.svg#icon-burger-menu"></use>
      </svg>
    </button>

    <button class="button button--mode-light header__button" data-modal-opn type="button">
      Buy now
      <svg class="button__img" width="6" height="9">
        <use href="./images/sprite/icons.svg#icon-btn-arrow"></use>
      </svg>
    </button>
  </div>

  <!-- Mob menu -->
  <div class="mobile-menu js-menu-container" id="mobile-menu">
    <button class="mobile-menu-btn-close js-close-menu" type="button">
      <svg class="mobile-menu-icon" width="14" height="14">
        <use class="mobile-menu-close" href="./images/sprite/icons.svg#icon-close"></use>
      </svg>
    </button>

    <div class="btn-thumb">
      <button data-modal-opening class="button button--mode-light header__button header__button--show" type="button">
        Buy now
        <svg class="button__img" width="6" height="9">
          <use href="./images/sprite/icons.svg#icon-btn-arrow"></use>
        </svg>
      </button>
    </div>
    <ul class="mobile-menu-nav list">
      <li class="mobile-menu-item"><a class="mobile-menu-link link" href="#">Home</a>
      </li>
      <li class="mobile-menu-item"><a class="mobile-menu-link link" data-goto=".advant" href="#advanteges">About
          us</a>
      </li>
      <li class="mobile-menu-item"><a class="mobile-menu-link link" data-goto=".about" href="#about">How it’s
          made?</a>
      </li>
      <li class="mobile-menu-item"><a class="mobile-menu-link link" data-goto=".product" href="#product">Our
          products</a>
      </li>
      <li class="mobile-menu-item"><a class="mobile-menu-link link" data-goto=".contacts" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</header>

<!-- h e r o  -->
<section class="hero ">
  <div class="hero__top-pos container">
    <h1 class="hero__title">
      ice cream made with <span class="hero__title--accent">passion</span>
    </h1>
    <div class="hero__btn-container">
      <button type="button" class="button button--mode-raspberry hero-btn">
        Products
      </button>
      <button type="button" class="button button--mode-light hero-btn">
        How it’s made?
      </button>
    </div>
    <div class="hero__circle"></div>
    <div class="hero__ice-cream animate__animated animate__tada">
      <picture>
        <source media="(min-width: 1200px)" srcset="
          ./images/hero/desktop/ice-cream.png    1x,
          ./images/hero/desktop/ice-cream@2x.png 2x
        " type="image/png" />
        <source media="(min-width: 768px)" srcset="
          ./images/hero/tablet/ice-cream.png    1x,
          ./images/hero/tablet/ice-cream@2x.png 2x
        " type="image/png" />
        <source media="(max-width: 767px)" srcset="
          ./images/hero/mobile/ice-cream.png    1x,
          ./images/hero/mobile/ice-cream@2x.png 2x
        " type="image/png" />
        <img src="./images/hero/mobile/ice-cream.png" alt="Мороженое" />
      </picture>
    </div>
    <div class="hero__milk-container">
      <picture>
        <source media="(min-width: 1200px)" srcset="
          ./images/hero/desktop/milk.png    1x,
          ./images/hero/desktop/milk@2x.png 2x
        " type="image/png" />
        <source media="(min-width: 768px)" srcset="
          ./images/hero/tablet/milk.png    1x,
          ./images/hero/tablet/milk@2x.png 2x
        " type="image/png" />
        <img src="./images/hero/desktop/milk.png" alt="Натуральное молоко" />
      </picture>
      <div class="hero__text-container">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et
        </p>
        <button type="button" class="hero-arrow"> <img src="./images/hero/arrow@2x.png" alt="arrow-right"> </button>
      </div>
    </div>
    <div class="stats">
      <div class="stats__cafe-pos">
        <p class="cafe-text"> <span class="cafe-count">16</span> <br> cafes </p>
        <picture class="cafe-ellips">
          <source media="(min-width: 1200px)" srcset="
            ./images/hero/desktop/Ellipse-desktop.png    1x,
            ./images/hero/desktop/Ellipse-desktop@2x.png 2x
          " type="image/png" />
          <source media="(min-width: 768px)" srcset="
            ./images/hero/tablet/Ellipse-tablet.png    1x,
            ./images/hero/tablet/Ellipse-tablet@2x.png 2x
          " type="image/png" />
          <img src="./images/hero/desktop/Ellipse-desktop.png" alt="кружок" />
        </picture>
      </div>
      <div class="stats__trucks-pos">
        <p class="trucks-text"> <span class="trucks-count">23</span> <br> food trucks </p>
        <picture class="truck-ellips">
          <source media="(min-width: 1200px)" srcset="
          ./images/hero/desktop/Ellipse-desktop.png    1x,
          ./images/hero/desktop/Ellipse-desktop@2x.png 2x
        " type="image/png" />
          <source media="(min-width: 768px)" srcset="
          ./images/hero/tablet/Ellipse-tablet.png    1x,
          ./images/hero/tablet/Ellipse-tablet@2x.png 2x
        " type="image/png" />
          <img src="./images/hero/desktop/Ellipse-desktop.png" alt="Кружок" />
        </picture>
      </div>
    </div>
    <div class="hero__tasty">
      <picture>
        <source media="(min-width: 1200px)" srcset="
          ./images/hero/desktop/so-tasty.png    1x,
          ./images/hero/desktop/so-tasty@2x.png 2x
        " type="image/png" />
        <source media="(min-width: 768px)" srcset="
          ./images/hero/tablet/so-tasty.png    1x,
          ./images/hero/tablet/so-tasty@2x.png 2x
        " type="image/png" />
        <img src="./images/hero/desktop/so-tasty.png" alt="Очень вкусное мороженное" />
      </picture>
    </div>
  </div>
</section>