<section class="products container section" id="product">
    <p class="products__lable">100% natural</p>
    <h1 class="products__title">products</h1>
    <ul class="card-set">
        <li class="card products__item list">
            <div class="products__item--img">
                <picture>
                    <!-- Desktop -->
                    <source media="(min-width:1200px )" srcset="./images/products/home-deck-pic1.png 1x,
                ./images/products/home-deck-pic1@2x.png 2x" type="image/png">
                    <!-- tablet -->
                    <source media="(min-width:768px )" srcset="./images/products/home-tab-pic1.png 1x,
                ./images/products/home-tab-pic1@2x.png 2x" type="image/png">
                    <!-- mobile -->
                    <source media="(max-width:767px)" srcset="./images/products/home-pic1.png 1x,
                ./images/products/home-pic1@2x.png 2x " type="image/png">
                    <img src="./images/products/home-pic1.png" alt="ice cream">
                </picture>
            </div>
            <div class="products__deck products__deck--cream">
                <h3 class="products__deck__title ">ice cream</h3>
                <span class="products__deck__cyrcle cyrcle"></span>
                <p class="products__deck__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <button type="button" class="products__btn">
                    <img class="btn-arrow" src="./images/products/arrow-right1.png" alt="arow">
                </button>
            </div>
        </li>
        <li class="card products__item list">
            <div class="products__item--img">
                <picture>
                    <!-- Desktop -->
                    <source media="(min-width:1200px )" srcset="./images/products/home-deck-pic2.png 1x,
                ./images/products/home-deck-pic2@2x.png 2x" type="image/png">
                    <!-- tablet -->
                    <source media="(min-width:768px )" srcset="./images/products/home-tab-pic2.png 1x,
                ./images/products/home-tab-pic2@2x.png 2x" type="image/png">
                    <!-- mobile -->
                    <source media="(max-width:767px)" srcset="./images/products/home-pic2.png 1x,
                ./images/products/home-pic2@2x.png 2x " type="image/png">
                    <img src="./images/products/home-pic2.png" alt="ice coffee">
                </picture>
            </div>
            <div class="products__deck products__deck--coffe">
                <h3 class="products__deck__title ">ice coffee</h3>
                <span class="products__deck__cyrcle cyrcle"></span>
                <p class="products__deck__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <button type="button" class="products__btn">
                    <img class="btn-arrow" src="./images/products/arrow-right1.png" alt="arow">
                </button>
            </div>
        </li>
        <li class="card products__item list">
            <div class="products__item--img">
                <picture>
                    <!-- decktop -->
                    <source media="(min-width:1200px )" srcset="./images/products/home-deck-pic3.png 1x,
                ./images/products/home-deck-pic3@2x.png 2x" type="image/png">
                    <!-- tablet -->
                    <source media="(min-width:768px )" srcset="./images/products/home-tab-pic3.png 1x,
                ./images/products/home-tab-pic3@2x.png 2x" type="image/png">
                    <!-- mobile -->
                    <source media="(max-width:767px )" srcset="./images/products/home-pic3.png 1x,
                ./images/products/home-pic3@2x.png 2x" type="image/png">
                    <img src="./images/products/home-pic3.png" alt="milkshakes">
                </picture>

            </div>
            <div class="products__deck products__deck--milk">
                <h3 class="products__deck__title ">milkshakes</h3>
                <span class="products__deck__cyrcle cyrcle"></span>
                <p class="products__deck__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <button type="button" class="products__btn">
                    <img class="btn-arrow" src="./images/products/arrow-right1.png" alt="arow">
                </button>
            </div>
        </li>
    </ul>
</section>