.mobile-menu-btn {
  padding: 0px;
  width: 20px;
  height: 12px;

  z-index: 1000;
  background-color: var(--bg-color-header);

  border: transparent;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    margin-left: auto;
    margin-right: 32px;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mobile-menu-burger {
  width: 20px;
  height: 12px;

  .mobile-menu-btn.is-open & {
    opacity: 0;
  }
}

.mobile-menu-close {
  width: 18px;
  height: 18px;

  opacity: 0;

  .mobile-menu-btn.is-open & {
    opacity: 1;
  }
}
