.mobile-menu-btn {
  width: 20px;
  height: 12px;

  z-index: 1000;
  background-color: #fff;

  border: transparent;
  cursor: pointer;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mobile-menu-icon {
}

.mobile-menu-burger {
  width: 20px;
  height: 12px;

  .mobile-menu-btn.is-open & {
    opacity: 0;
  }
}

// .mobile-menu-close {
//   width: 18px;
//   height: 18px;

//   opacity: 0;

//   .mobile-menu-btn.is-open & {
//     opacity: 1;
//   }
// }
