.about {
  background-color: var(--bg-about-advantages);
}

.about__label {
  font-family: 'Titan One';
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.16;
  text-align: center;
  color: var(--text-color-pink);
  padding-top: 60px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .about__label {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 16px;
    padding-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .about__label {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    margin-bottom: 16px;
    padding-top: 60px;
  }
}

.about__title {
  font-family: 'Titan One';
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: var(--color-raspberry);
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .about__title {
    font-size: 14px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .about__title {
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;
    margin-bottom: 60px;
  }
}

.about__bg {
  display: block;
}

@media screen and (min-width: 768px) {
  .about__bg {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .about__bg {
    display: flex;
    background-image: url(../images/about/milk.png);
    background-repeat: no-repeat;
  }
}

.about__cow {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .about__cow {
    width: 336px;
    margin-left: 32px;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .about__cow {
    width: 501px;
    margin-bottom: 20px;
    margin-left: 16px;
  }
}

.about__milk {
  width: 100%;
  background-image: url(../images/about/milk-mob.png);
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .about__milk {
    width: 334px;
    margin-left: 32px;

    background-image: none;
  }
}

@media screen and (min-width: 1200px) {
  .about__milk {
    width: 463px;
    margin-left: 99px;
  }
}

.about__paragraf__first {
  font-family: DM Sans;
  font-style: Medium;
  font-size: 12px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .about__paragraf__first {
    margin-left: 32px;
    font-size: 14px;
    line-height: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .about__paragraf__first {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 4%;
    margin-bottom: 32px;
    margin-top: 90px;
  }
}

.about__paragraf__second {
  font-family: DM Sans;
  font-style: Medium;
  font-size: 12px;
  line-height: 19px;
  line-height: 162%;
  color: var(--text-color-grey);
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .about__paragraf__second {
    font-size: 14px;
    line-height: 25px;
    line-height: 176%;
    margin-left: 32px;
    line-height: 25px;
    letter-spacing: 4%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .about__paragraf__second {
    font-size: 14px;
    line-height: 27px;
    line-height: 194%;
    letter-spacing: 4%;
    margin-bottom: 32px;
  }
}

.about__paragraf__third {
  font-family: DM Sans;
  font-style: Medium;
  font-size: 12px;
  line-height: 19px;
  line-height: 162%;
  color: var(--text-color-grey);
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .about__paragraf__third {
    font-size: 14px;
    line-height: 25px;
    line-height: 176%;
    margin-left: 32px;
    line-height: 25px;
    letter-spacing: 4%;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .about__paragraf__third {
    font-size: 14px;
    line-height: 27px;
    line-height: 194%;
    letter-spacing: 4%;
    margin-bottom: 40px;
  }
}

.about__btn {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .about__btn {
    margin-left: 32px;
  }
}
