.contacts {
  padding-top: 0;
  padding-bottom: 20px;
  background: #fff5f6;

  @media screen and (min-width: 1200px) {
    padding-bottom: 60px;
  }
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    gap: 32px;
    margin-bottom: 60px;
  }
}
.contacts__item {
  padding: 40px 32px;
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  width: 100%;

  @media screen and (min-width: 768px) {
    width: calc((100% - 64px) / 3);
  }

  @media screen and (min-width: 1200px) {
    padding: 40px 40px;
  }
}

.contacts__box:not(:last-child) {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 24px;

  @media screen and (min-width: 768px) {
    padding-bottom: 32px;
  }
}
.contacts__box:not(:first-child) {
  padding-top: 24px;

  @media screen and (min-width: 768px) {
    padding-top: 32px;
  }
}
.contacts__title {
  background: var(--bg-ice-coffee);
  color: var(--text-color-white);
  border-radius: 4px;
  align-content: center;
  text-align: center;
  line-height: calc(22 / 12);
  letter-spacing: 0.04em;
  width: 80px;
  height: 16px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    line-height: calc(30 / 16);
    letter-spacing: 0.04em;
    width: 73px;
    height: 28px;

    margin-bottom: 32px;
    border-radius: 6px;
  }
}
.contacts__desc {
  background: #c2e297;
  color: var(--text-color-white);
  border-radius: 4px;
  line-height: calc(22 / 12);
  letter-spacing: 0.04em;
  text-align: center;
  width: 130px;
  height: 16px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    line-height: calc(30 / 16);
    letter-spacing: 0.04em;
    width: 138px;
    height: 28px;

    margin-bottom: 32px;
    border-radius: 6px;
  }
}

.contacts__subtitle {
  line-height: calc(22 / 12);
  letter-spacing: 0.04em;

  @media screen and (min-width: 768px) {
    line-height: calc(26 / 14);
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1200px) {
    line-height: calc(30 / 16);
    letter-spacing: 0.04em;
  }
}
.caption {
  margin-bottom: 8px;
}
.contacts__text {
  color: var(--text-color-grey);
  line-height: calc(18 / 12);
  letter-spacing: 0.04em;

  @media screen and (min-width: 768px) {
    line-height: calc(23 / 14);
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1200px) {
    line-height: calc(29 / 16);
    letter-spacing: 0.04em;
  }
}

.contacts__time {
  color: var(--text-color-pink);
  margin-bottom: 8px;
  line-height: calc(22 / 12);
  letter-spacing: 0.04em;

  @media screen and (min-width: 768px) {
    line-height: calc(26 / 14);
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1200px) {
    line-height: calc(30 / 16);
    letter-spacing: 0.04em;
  }
}

.contacts__link {
  color: var(--text-color-grey);
  line-height: calc(18 / 12);
  letter-spacing: 0.04em;

  @media screen and (min-width: 768px) {
    line-height: calc(23 / 14);
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1200px) {
    line-height: calc(29 / 16);
    letter-spacing: 0.04em;
  }
}
.contacts__link:hover,
.contacts__link:focus {
  color: #d41443;
}

.contacts__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }
}
.contacts__button {
  background: #ffffff;
  border-radius: 22px;
  align-items: center;
  text-align: center;
  color: #d41443;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(21 / 16);
  width: 161px;
  height: 44px;
  border: 0vh;
  cursor: pointer;
}
.contacts__button:hover,
.contacts__button:focus {
  background: #d41443;
  color: #ffffff;
}

// backdrop

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 40px;

  background-color: var(--primary-white-color);
}

.modal-close-btb {
  position: absolute;
  right: 40px;
}

.icon-close {
  fill: grey;
  color: #ffffff;
}

.iframe {
  width: 320px;

  @media screen and (min-width: 768px) {
    width: 600px;
  }
}
