.reviews {
width: 320px;
padding-left: 20px;
padding-right: 20px;

}



.reviews-text {
    padding: 43px 58px 26px 65px;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.55;
    text-align: center;
    width: 280px;   
    margin-bottom: 16px;
    position: relative;
   
   }

.reviews-text::before {
    content: "";
    display: inline-block;
    width: 54px;
    height: 40px;
    background-size: cover;
    background-image: url(../photo/99.png);
    position: absolute;
    top: 30px;
    left: 53px;
    z-index: -1;

}

.reviews-text::after {
background-image: repeating-linear-gradient(
    to bottom,
    #ffffff,
    #ffffff 30px,
    #E1E1E1 30px,
    #E1E1E1 31px
    );
    position: absolute;
    top: 43px;
    left: 53px;
    content: "";
    display: inline-block;
    width: 180px;
    height: 248px;
    // background-size: cover;
    z-index: -2;
}


.reviews-photo{
   margin-bottom: 32px;
   margin-right: auto;
   margin-left: auto;
   border-radius: 50%;
   overflow: hidden;
}

.slick-dots li button {
font-size: 0;
line-height: 0;
display: block;
width: 12px;
height: 12px;
padding: 5px;
cursor: pointer;
color: transparent;
border: 0;
outline: none;
background: transparent;
margin-top: 16px;
;}

.slick-dots li.slick-active button::before {
font-family: 'slick';
font-size: 6px;
line-height: 20px;
position: absolute;
top: 0;
left: 0;
width: 12px;
height: 12px;
content: '';
background-image: url(../photo/home.png);
text-align: center;
opacity: 1;
color: black;
}
    
.reviews-title {
font-weight: 500;
font-size: 14px;
line-height: 1.86;
text-align: center;
margin-bottom: 16px;
}

.reviews-title::before {
    content: "";
    display: block;
    width: 32px;
    height: 4px;
    background-size: cover;
    background-image: url(../photo/dots.png);
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

