.gallery {
    background-image: linear-gradient(to bottom, var(--bg-about-advantages), var(--bg-about-advantages)27%, var(--text-color-white)24%);
    margin-left: auto;
    margin-right: auto;
    
    @media screen and (max-width: 1199px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        background-image: linear-gradient(to bottom, var(--bg-about-advantages), var(--bg-about-advantages)55%, var(--text-color-white)24%);
    }
}


.gallery__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px; 
}


.gallery__item-4 {
    padding-top: 6%;
}


.gallery__item-6 {
    padding-top: 2%;
}

.gallery__img-top {
    padding-top: 5px;
}

.gallery__img {
    transform: scale3d(1, 1, 1);
    transition: transform var(--anim);
    position: relative;

    &-another {
        margin-right: 50%;
    }

    &:hover,
    &:focus {
        transform: scale3d(1.5, 1.5, 2);
        z-index: 1;
    }
}