.hero {
  position: relative;
  background-color: var(--bg-color-header);
  padding-top: 136px;
  padding-bottom: 158px;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    overflow: visible;
    padding-top: 20px;
    padding-bottom: 16px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.hero__title {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-color-white);
  max-width: 218px;
  margin-bottom: 20px;
  z-index: 3;

  @media screen and (min-width: 768px) {
    max-width: 162px;
    font-size: 22px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1200px) {
    max-width: 277px;
    font-size: 38px;
    line-height: 1.16;
  }
}

.hero__title--accent {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 96.5%;
  text-transform: uppercase;
  color: var(--color-raspberry);
  z-index: 3;

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 90.5%;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 90.5%;
  }
}

.hero__btn-container {
  z-index: 3;
}

.hero-btn {
  z-index: 3;
}

.hero__circle {
  position: absolute;
  // bottom: 75px;
  right: -62px;
  // left: 36px;
  top: 25px;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: var(--text-color-pink);

  @media screen and (min-width: 768px) {
    left: 248px;
    // bottom: 40px;
    top: -39px;
    width: 335px;
    height: 333px;
  }

  @media screen and (min-width: 1200px) {
    left: 517px;
    top: -33px;
    width: 534px;
    height: 534px;
  }
}

.hero__ice-cream {
  position: absolute;
  min-width: 171px;
  bottom: 0;
  right: 32px;
  z-index: 2;

  @media screen and (min-width: 768px) {
    left: 322px;
    min-width: 143px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 236px;
    left: 636px;
  }
}

.hero__milk-container {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.hero__text-container {
  max-width: 114px;
  z-index: 3;

  @media screen and (min-width: 1200px) {
    max-width: 200px;
  }

  & p {
    font-family: 'DM Sans';
    font-size: 8px;
    line-height: 150%;
    color: var(--text-color-white);
    margin-bottom: 7px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 1.4;
    }
  }
}

.stats {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 10px;
    right: 32px;

    & picture:not(:last-child) {
      margin-bottom: 16px;
    }

    @media screen and (min-width: 1200px) {
      & picture:not(:last-child) {
        right: 24px;
        top: 65px;
        margin-bottom: 15px;
      }
    }
  }
}

.hero__tasty {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    bottom: 1px;
    right: 32px;
  }
}
